<?xml version="1.0"?>
<launch>

    <!-- publish map for localization -->
    <arg name="map_name" default="gt_map_01"
        doc="Name of the map yaml file without extension, contained in the assets folder." />
    <node name="map_server" pkg="map_server" type="map_server" output="screen"
        args="$(find dhf_loc)/assets/$(arg map_name).yaml" />

    <!-- launch simulation -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">
        <arg name="sensor_update_rate" value="5" />
        <arg name="lidar_std" value="0.01" />
        <arg name="encoder_noise_factor" value="0.0001" />
    </include>
    <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value="" />
    </node>

    <!-- launch localization algorithm -->
    <include file="$(find dhf_loc)/launch/dhf_localization_node.launch">
        <arg name="param_file_name" value="simu" />
        <arg name="edh_type" value="medh"
            doc="Either 'medh', 'naedh' or '', which corresponds to EKF." />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" output="screen"
        args="-d $(find dhf_loc)/rviz/default.rviz" />


</launch>